body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif;
    margin: auto;
    max-width: 38rem;
    padding: 2rem;
}

.dark-mode {
    background-color: rgb(18, 18, 18);
    color: white;
}

.left-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 5px;
}

a {
    color: red;
}

input {
    background-color: rgb(40, 40, 40);
    border: 0;
    width: 100%;
    font-size: 18pt;
    color: white;
}

#loadURL {
    background-color: rgb(40, 40, 40);
    border: 0;
    margin-left: 2px;
    margin-top: 10px;
    width: 100%;
    font-size: 18pt;
    color: white;
}

#createURL {
    background-color: rgb(40, 40, 40);
    border: 0;
    margin-left: 2px;
    margin-top: 10px;
    font-size: 18pt;
    color: white;
}

#copyURL {
    background-color: rgb(40, 40, 40);
    border: 0;
    margin-left: 2px;
    margin-top: 10px;
    font-size: 18pt;
    color: white;
}
